h1 {
    font-size: 2em;
    color: #333;
    text-align: center;
}
p {
    font-size: 1em;
    color: #666;
    text-align: center;
}
a {
    color: blue;
}
body {
    background-color: #C4D0D7;
}

.github {
    width: 30px;
}

.footer {
    text-align: center;
    margin-top: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.img-container {
    display: flex;
    justify-content: center;

}
img {
    max-width: 20%;
    height: auto;
    margin-top: 20px;
}

